

@font-face
{
    font-family: 'Montserrat-Medium';
    src: local('Montserrat-Medium'),url('Montserrat Medium.ttf') format('opentype');
}

h1
{
    font-family: 'Montserrat-Medium';
    font-size: 45px;
    font-weight: normal;
    color: #FFFFFF;
}

a
{
    font-family: 'Montserrat-Medium';
    font-size: 45px;
    font-weight: normal;
    color: #FFFFFF;
    word-wrap: break-word;
}


